<a href="https://colab.research.google.com/github/Yasho10/Project-Euler-Solutions-in-Python-/blob/main/Euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#### 1 
l=[]
for i in range(0,1000) :
  if i %3 == 0 or i %5 == 0 :
    l.append(i)
print(sum(l))

233168

In [3]:
#### 2 
z=[]
a=0
b=1
i=0
c=1
while c < 4000000:
  c = a + b 
  if c %2 == 0 :
    z.append(c)
  a=b
  b=c
  i -=1

print(sum(z))

4613732

In [19]:
#### 3 
x=[]
def primeFactors(n):
  while n % 2 == 0:
      x.append(2)
      n = n / 2
  for i in range(3,int(n**0.5)+1,2):
    while n % i== 0:
        x.append(i)
        n = n / i           
  if n > 2:
      x.append(n)
primeFactors(600851475143)
print(max(x))

6857

In [5]:
#### 4 
def ispalindrome(n):
  p=n
  r=0
  while n>0:
    b=n%10
    r=r*10+b
    n=n//10
  return p==r
  
a=0
k=0
p=0
for i in range(100,1000):
  for j in range(i,1000):
    mp=i*j
    if ispalindrome(mp)==True and mp>a :
      a=mp
      k=i
      p=j
print(a,k,"X",p)

906609 913 X 993

In [6]:
#### 5 
l = [11, 13, 14, 16, 17, 18, 19, 20]

def one2twenty(n):
    for num in range(n, 999999999, n):
        if all(num % n == 0 for n in l):
            return num
    return None

print(one2twenty(20))

232792560

In [7]:
#### 6 
sum1=0
sum2=0
for i in range (1,101) :
  sum1+= i 
for j in range (1,101) :
  sum2+= j**2
print(sum1**2-sum2)

25164150

In [8]:
#### 7 
l=[]
for n in range(2,999999999):
  c=0
  for i in range(2, int(n**0.5+1)):
    if n % i == 0 :
      c= c+1
      continue 
  if c == 0  :    
    l.append(n)
  if len(l) == 10001 :
    break 

print(l[-1])

104743

In [9]:
#### 8 

s = "7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450"
largestproduct = 0
for i in range(0, len(s)-14):
  product = 1
  for j in range(i,i+13):
    product *= int(s[j: j + 1])
  if product > largestproduct:
    largestproduct = product

print (largestproduct)

23514624000

In [20]:
#### 9
l=[]
def pythagoreanTriplets(limits) :
    c, m = 0, 2
    while c < limits :
        for n in range(1, m) :
            a = m * m - n * n
            b = 2 * m * n
            c = m * m + n * n
            if c > limits :
                break
            l.append([a,b,c])
        m = m + 1
limit = 9999
pythagoreanTriplets(limit)
for i in range(len(l)) :
  if sum(l[i])==1000 :
    print(l[i])

[375, 200, 425]

In [11]:
#### 10 
summ=0
for i in range(2,2000000):
    for j in range(2,int(i**0.5+1)):
        if i%j==0:
            break
    else:
        summ+=i
print(summ)

142913828922